<div class="center-flex">
    <h3 class="text-center"><button (click)="navigateBack()"><span><i class="fa fa-home"></i></span></button> Phonebook</h3>
    <p>New Phonebook</p>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Name</span>
            <input type="text" class="form-control" placeholder="Phonebook name" aria-describedby="basic-addon1">
        </div>
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>